.game {
  width: min(100%, 450px);
  margin: 0 auto;

  .board {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 14px;
  }
}

@media (height <= 700px) {
  .game {
    width: min(100%, 300px);

    .board {
      gap: 8px;
    }
  }
}

@media (height <= 600px) {
  .game {
    width: min(100%, 260px);

    .board {
      gap: 6px;
    }
  }
}
